<template>
  <card class="card" title="Add Item">
    <div>
      <form @submit.prevent>
        <div class="row">
          <div class="col-md-12">
            <div class="form-check">
              <label class="form-check-label">Tradable</label>
              <input type="checkbox" name="tradable" class="form-check-input">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Name</label>
              <input type="text" name="name" class="form-control border-input">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Description</label>
              <input type="text" name="desciption" class="form-control border-input">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Image</label>
              <input type="text" name="image" class="form-control border-input">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Type</label>
              <select name="item_type" class="form-control border-input">
              	<option>Material</option>
              	<option>Material</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Source</label>
              <select name="source" class="form-control border-input">
              	<option>Material</option>
              	<option>Material</option>
              </select>
            </div>
          </div>
        </div>
        <div class="text-center">
          <p-button type="info"
                    round
                    @click.native.prevent="addItem">
            Add Item
          </p-button>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
  </card>
</template>
<script>
export default {
  data() {
    return {
      user: {
        company: "Paper Dashboard",
        username: "michael23",
        email: "",
        firstName: "Chet",
        lastName: "Faker",
        address: "Melbourne, Australia",
        city: "Melbourne",
        postalCode: "",
        aboutMe: `We must accept finite disappointment, but hold on to infinite hope.`
      }
    };
  },
  methods: {
    addItem() {
      alert("Your data: " + JSON.stringify(this.user));
    }
  }
};
</script>
<style>
	.form-check-label {
		display: inline-block;
	    position: relative;
	    cursor: pointer;
	    padding-left: 35px;
	    line-height: 26px;
	    margin-bottom: 0;
	}
	.form-check-input {
	    margin-top: 0;
	    margin-right: .3125rem;
	    margin-left: 0;
	}
</style>
