<template>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <div class="add"><a href="javascript:void(0)" @click="addItem">Add Item <span class="ti-plus"></span></a></div>
            <h4 class="card-title">Items</h4>
            <p class="card-category">List of items</p></div>
            <div class="card-body">
            </div>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <th>Id</th>
                  <th>Image</th>
                  <th>Name</th>
                  <th>Action</th>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Image</td>
                    <td>Novice</td>
                    <td>
                      <a href="javascript:void(0)" @click="editItem"><span class="ti-pencil"></span></a>
                      <a href="javascript:void(0)" @click="deleteItem"><span class="ti-trash"></span></a> 
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      </div>
    </div>
</template>
<script>
export default {
  components: {
    //
  },
  data() {
    return {
      //
    };
  },
  methods: {
    editItem() {
      this.$router.push('edit-item')
    },
    addItem() {
      this.$router.push('add-item')
    },
    deleteItem() {
      console.log('deleted')
    }
  }
};
</script>
<style>
.add {
  float: right;
}
</style>
