<template>
    <div class="row">
      <div class="col-12">
        <card :title="table1.title" :subTitle="table1.subTitle">
          <div slot="raw-content" class="table-responsive">
            <paper-table :data="table1.data" :columns="table1.columns">

            </paper-table>
          </div>
        </card>
      </div>

    </div>
</template>
<script>
import { PaperTable } from "@/components";
const tableColumns = ["Id", "Name", "Email", "Role"];
const tableData = [
  {
    id: 1,
    name: "Dakota Rice",
    email: "$36.738",
    role: "Niger",
  },
];

export default {
  components: {
    PaperTable
  },
  data() {
    return {
      table1: {
        title: "Users",
        subTitle: "List of users",
        columns: [...tableColumns],
        data: [...tableData]
      },
    };
  }
};
</script>
<style>
</style>
