<template>
  <card class="card" title="Change Password">
    <div>
      <form @submit.prevent>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Password</label>
              <input type="password" name="name" class="form-control border-input">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Confirm Password</label>
              <input type="password" name="email" class="form-control border-input" >
            </div>
          </div>
        </div>

<!--         <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>About Me</label>
              <textarea rows="5" class="form-control border-input"
                        placeholder="Here can be your description"
                        v-model="user.aboutMe">

              </textarea>
            </div>
          </div>
        </div> -->
        <div class="text-center">
          <p-button type="info"
                    round
                    @click.native.prevent="changePassword">
            Change Password
          </p-button>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
  </card>
</template>
<script>
export default {
  data() {
    return {
      user: {
        
      }
    };
  },
  methods: {
    changePassword() {
      alert("Your data: " + JSON.stringify(this.user));
    }
  }
};
</script>
<style>
</style>
