<template>
    <div class="row">
      <div class="col-12">
        <div class="card" dsfsdf="">
          <div class="card-header">
            <div class="add"><a href="javascript:void(0)" @click="addUser">Add User <span class="ti-plus"></span></a></div>
            <h4 class="card-title">Users</h4>
            <p class="card-category">List of users</p></div>
            <div class="card-body">
            </div>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <th>Id</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Role</th>
                  <th>Action</th>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Dakota Rice</td>
                    <td>$36.738</td>
                    <td>Niger</td>
                    <td>
                      <a href="javascript:void(0)" @click="editProfile"><span class="ti-pencil"></span></a>
                      <a href="javascript:void(0)" @click="changePassword"><span class="ti-lock"></span></a> 
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      </div>
    </div>
</template>
<script>
export default {
  components: {
    //
  },
  data() {
    return {
      //
    };
  },
  methods: {
    editProfile() {
      this.$router.push('edit-profile')
    },
    addUser() {
      this.$router.push('add-user')
    },
    changePassword() {
      this.$router.push('change-password')
    }
  }
};
</script>
<style>
.add {
  float: right;
}
</style>
